<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sklep</title>

    <!-- Facebook/insta icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Main CSS-->
    <link href="../../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

</head>

<body>

<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a th:href="@{/product/productList/1}">
                <img src="/images/logo.png" alt="Strona glowna" style="height: 70px">
            </a>
        </div>
        <div class="menu-sidebar-content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar-list">
                    <button class="btn btn-secondary" name="discount_button"  style="width: 150px; background-color: #0da8e4">
                        <a th:href="@{/admin/ordersList}">Zamówienia</a>
                    </button>

                    <br><br>
                    <button class="btn btn-secondary" name="discount_button"  style="width: 150px; background-color: #0da8e4">
                        <a th:href="@{/admin/panel}">Sprzedaż</a>
                    </button>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" method="post" th:action="@{/product/products_search/1}" id="getform">
                        </form>
                        <div class="cart-area d-n">
                        </div>
                        <li class="dropdown" >
                            <a href="javascript:void(0)" class="dropbtn"><img src="/images/nouser.png" height="1px"></a>
                            <div class="dropdown-content">
                                <a sec:authorize="isAuthenticated()" th:href="@{/order/allOrders}">Twoje zamowienia</a>

                                <a th:href="@{/login/showLoginPage}" sec:authorize="isAnonymous()" href="javascript: document.logoutForm.submit()" role="menuitem">Zaloguj się</a>
                                <a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()" role="menuitem">Wyloguj sie</a>

                                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                                    <input hidden type="submit" value="Sign Out"/>
                                </form>
                                </ul>
                            </div>
                    </div>
                    <div class="account-wrap"></div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section-content section-content-p30">
                <div class="container-fluid">

                    <table class="table table-bordered">
                        <tr>
                            <th width="10%">Order id</th>
                            <th width="20%">Data zamowienia</th>
                            <th width="20%">Status</th>
                            <th width="20%">Zobacz szczegóły</th>
                        </tr>

                        <tr th:each="order: ${orders_list}">
                            <td th:text="${order.id_order}">
                            <td>
                                <p th:text="${order.getOrderDate().toString().substring(0,10)}"></p>
                            </td>
                            <td th:text="${order.getStatus()}">

                            </td>
                            <td>
                                <a th:href="@{/admin/detailsOrder/{id_cart}(id_cart=${order.cart.id_cart},orderId=${order.id_order})}" onclick="refreshPage()" class="primary-btn">Pokaż</a>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE CONTAINER-->


<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <ul>
                        <li>Adres: al. Tadeusza Rejtana 16C, Rzeszów</li>
                        <li>Phone: 123 456 789</li>
                        <li>Email: qerbitz@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <ul>

                        <li><a th:href="@{/login/showLoginPage}">Logowanie</a></li>
                        <li><a th:href="@{/registration/showRegistrationForm}" >Rejestracja</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <p>Zapraszamy również</p>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p>
                        Copyright &copy; <script>document.write(new Date().getFullYear());</script> Krzysztof Pleśniak </a></p></div>
                    <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>
<!-- end document-->