<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Facebook/insta icons -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Main CSS-->
	<link href="../../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

</head>

<body>
<p th:text="${id_product}"></p>
<title>test</title>
	<div class="page-wrapper">

		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a th:href="@{/product/productList/1}">
					<img src="/images/logo.png" alt="Strona glowna" style="height: 70px">
				</a>
			</div>
			<div class="menu-sidebar-content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar-list">

						<button class="btn btn-secondary" name="discount_button"  style="width: 100px; background-color: #0da8e4">
							<a th:href="@{/product/discountList}">Promocje</a>
						</button>
						<br><br>

						<form method="post" th:action="@{/product/productList/1}"
							  th:object="${categoryList}" id="getforma">


							<!--<label for="price_min" >Cena od:</label><br>-->
							<input type="number" id="price_min" th:name="price_min" th:value="${price_min}" onfocusout="this.form.submit()" style="width: 100px; background-color: #0da8e4; text-align: center; " placeholder="Cena od: "><br>

							<br>
							<!--<label for="price_max" >Cena do:</label><br>-->
							<input type="number" id="price_max" th:name="price_max" th:value="${price_max}" onfocusout="this.form.submit()" style="width: 100px; background-color: #0da8e4; text-align: center; " placeholder="Cena do: ">

							<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
							<br><br>
							<button class="btn btn-secondary dropdown-toggle" name="drop_category" th:value="${value_category}" style="width: 100px; background-color: #0da8e4">Kategorie</button>

							<li th:hidden="${hidden_category}" th:each="category: ${categoryList}" style="color: black;">
								<input type="checkbox" th:value="${category.id_category}" th:name="listOfCategoryChecked" th:checked="${categoryCheckedList?.contains(category)}" onclick="this.form.submit()"/>
								<label th:text="${category.name}"></label>

								<ul th:if="${categoryCheckedList?.contains(category)}">
									<li th:if="${size.getId_category().getId_category()==category.getId_category()}" th:each="size: ${sizesList}">
										<input type="checkbox"  th:value="${size.getProduct_size()}" th:name="listOfSizesChecked" th:checked="${sizesCheckedList?.contains(size.getProduct_size())}" onclick="this.form.submit()"/>
										<label th:text="${size.getProduct_size()}"></label><br>
									</li>
								</ul>
							</li>

							<br><br>

							<!--  -->
							<button class="btn btn-secondary dropdown-toggle" name="drop_age" th:value="${value_age}" style="width: 100px; background-color: #0da8e4">Wiek</button>
							<li th:hidden="${hidden_age}" th:each="age: ${agesList}">
								<input type="checkbox" th:value="${age}"  th:name="listOfAgesChecked" th:checked="${agesCheckedList?.contains(age)}" onclick="this.form.submit()"/>
								<label th:text="${age}"></label>
							</li>

							<br><br>
							<button class="btn btn-secondary dropdown-toggle" name="drop_gender" th:value="${value_gender}" style="width: 100px; background-color: #0da8e4">Płeć</button>
							<li th:hidden="${hidden_gender}" th:each="gender: ${genderList}">
								<input type="checkbox" th:value="${gender}"  th:name="listOfGenderChecked" th:checked="${genderCheckedList?.contains(gender)}" onclick="this.form.submit()"/>
								<label th:text="${gender}"></label>
							</li>

							<br><br>
							<button class="btn btn-secondary dropdown-toggle" name="drop_season" th:value="${value_season}" style="width: 100px; background-color: #0da8e4">Sezon</button>
							<li th:hidden="${hidden_season}" th:each="season: ${seasonList}">
								<input type="checkbox" th:value="${season}"  th:name="listOfSeasonChecked" th:checked="${seasonCheckedList?.contains(season)}" onclick="this.form.submit()"/>
								<label th:text="${season}"></label>
							</li>
						</form>
					</ul>

				</nav>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<div class="section-content section-content-p30">
					<div class="container-fluid">
						<div class="header-wrap">
							<form class="form-header" method="post" th:action="@{/product/products_search/1}" id="getform">
								<input class="au-input au-input-xl" type="text" name="value" id="value" th:object="${user}" pattern="[^*()/><\][\\\x22,;|]+"
									placeholder="Szukaj produktów ..." form="getform"/>
								<button class="au-btn-submit" type="submit" form="getform">
									Szukaj
								</button>
							</form>
							<div class="cart-area d-n">
								 <a th:href="@{/cart/}">
									<div class="total" th:text="${total}"> <span th:text="${quantity}"> </span> </div> <i class="fa fa-shopping-cart"
										aria-hidden="true"></i>
								</a>
							</div>
							<li class="dropdown">
								<a href="javascript:void(0)" class="dropbtn"><img src="/images/nouser.png" height="1px"></a>
								<div class="dropdown-content">
									<a sec:authorize="isAuthenticated()" th:href="@{/order/allOrders}">Twoje zamowienia</a>

									<a th:href="@{/login/showLoginPage}" sec:authorize="isAnonymous()" href="javascript: document.logoutForm.submit()" role="menuitem">Zaloguj się</a>
									<a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()" role="menuitem">Wyloguj sie</a>

									<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
										<input hidden type="submit" value="Sign Out"/>
									</form>
									</ul>
								</div>
						</div>
						<div class="account-wrap"></div>
					</div>
				</div>
			</header>
			<!-- END HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section-content section-content-p30">
					<div class="container-fluid">
						<!--<form class="form-header" method="post" th:action="@{/product/products_sort}">
							<select name="option" id="option" onchange="this.form.submit()">
								<option> - </option>
								<option th:value=1>Cena: od najniższej</option>
								<option th:value=2>Cena: od najwyższej</option>
								<option th:value=3>Nazwa: Od A do Z</option>
								<option th:value=4>Nazwa: Od Z do A</option>
								<option th:value=5>Najpopularniejsze</option>
							</select>
						</form>-->

						<div class="row">
							<a th:href="@{/product/similiar}" th:if="${productList.isEmpty()}"><h1>Nie widzisz szukanego produktu, wyszukaj produkty podobne<br><br><br></h1></a>
							<div class="col-md-3" th:each="product: ${productList}">
								<div  class="product-box">
									<a th:href="@{/product/viewProduct/{productId}(productId=${product.id_product})}">
										<img th:src="${product.image}" class="img-responsive">
									</a>
									<a th:href="@{/product/viewProduct/{productId}(productId=${product.id_product})}">
										<h1 th:text="${product.getName()}"></h1>
										<h2 th:text="'Producent: '+${product.getProducent().getName()}"></h2>
										<h2 th:text="'Kategoria: '+${product.getId_category().getName()}"></h2>
										<h2 th:text="'Rozmiar: '+${product.getSize_age().getProduct_size()}"></h2>
										<h2 th:text="'Wiek: '+${product.getSize_age().getProduct_age()}"></h2>
									</a>
									<div class="price"  th:text="${product.price} + ' zł'"></td></div>

									<a class="primary-btn" type="button" th:if="${product.quantity>0}"
									   th:href="@{/cart/add/{id_product}(id_product=${product.id_product},price_min=${price_min},price_max=${price_max},
											listOffAgesChecked=${agesCheckedList}, listOffCategoryChecked=${categoryCheckedListint})}"><i
											class="fa fa-shopping-cart"></i>  Dodaj do koszyka</a>

								</div>
							</div>


						</div>

						<div class="footer-pagination">
							<div class="row">
								<div class="sortowanie">
									<a th:if="${currentPage == 1}">Wyswietlono 1 - [[${pageItems}]] z [[${totalItems}]]</a>
									<a th:if="${currentPage >1 && currentPage != totalPages}">Wyswietlono [[${pageItems * currentPage - pageItems}]] - [[${pageItems * currentPage}]] z [[${totalItems}]]</a>
									<a th:if="${currentPage == totalPages}">Wyswietlono [[${totalItems - pageItems}]] - [[${totalItems}]] z [[${totalItems}]]</a>

									<a th:if="${currentPage > 1}" th:href="@{/product/productList/{pageNum}(pageNum = 1, price_min=${price_min},price_max=${price_max},
											listOffAgesChecked=${agesCheckedList}, listOffCategoryChecked=${categoryCheckedListint}, listOffSeasonChecked=${seasonCheckedList}, listOffGenderChecked=${genderCheckedList})}">Początek</a>
									<span th:unless="${currentPage > 1}">Początek</span>

									<a th:if="${currentPage > 1}" th:href="@{/product/productList/{pageNum}(pageNum = ${currentPage - 1}, price_min=${price_min},price_max=${price_max},
											listOffAgesChecked=${agesCheckedList}, listOffCategoryChecked=${categoryCheckedListint}, listOffSeasonChecked=${seasonCheckedList}, listOffGenderChecked=${genderCheckedList})}">Poprzednia</a>


									<span th:each="i: ${#numbers.sequence(1, totalPages)}">
    								<a th:if="${currentPage != i}" th:href="@{/product/productList/{pageNum}(pageNum = ${i}, price_min=${price_min},price_max=${price_max},
											listOffAgesChecked=${agesCheckedList}, listOffCategoryChecked=${categoryCheckedListint}, listOffSeasonChecked=${seasonCheckedList}, listOffGenderChecked=${genderCheckedList})}">[[${i}]]</a>
    								<span th:unless="${currentPage != i}">[[${i}]]</span>
    								&nbsp;&nbsp;
									</span>

									<a th:if="${currentPage < totalPages}" th:href="@{/product/productList/{pageNum}(pageNum = ${currentPage + 1}, price_min=${price_min},price_max=${price_max},
											listOffAgesChecked=${agesCheckedList}, listOffCategoryChecked=${categoryCheckedListint}, listOffSeasonChecked=${seasonCheckedList}, listOffGenderChecked=${genderCheckedList})}">Nastepna</a>

									<a th:if="${currentPage < totalPages}" th:href="@{/product/productList/{pageNum}(pageNum = ${totalPages}, price_min=${price_min},price_max=${price_max},
											listOffAgesChecked=${agesCheckedList}, listOffCategoryChecked=${categoryCheckedListint}, listOffSeasonChecked=${seasonCheckedList}, listOffGenderChecked=${genderCheckedList})}">Ostatnia</a>
									<span th:unless="${currentPage < totalPages}">Ostatnia</span>
								</div>
								<div class="col-md-3">
									<div class="items">
										 <form class="form-header" method="post" th:action="@{/product/productList/1(price_min=${price_min},price_max=${price_max})}">
											 <label>Wyświetlaj</label><select name="pageSize" id="pageSize" onchange="this.form.submit()">
											 <option></option>
												<option th:value=8>8</option>
												<option th:value=16>16</option>
												<option th:value=25>25</option>
											</select>
										</form>
									</div>
								</div>
							</div>

								<!-- The Modal -->
								<div id="myModal" class="modal">

									<!-- Modal content -->
									<div class="modal-content">
										<span class="close"><a th:href="@{/product/productList/1}">&times;</a></span>
										<h1>Produkt został dodany do koszyka pomyślnie!</h1>
										<div class="product-box-propose">
											<a>
												<img th:if="${purchased_product!=null}" th:src="${purchased_product.getImage()}" class="img-responsive">
											</a>
											<a>
												<h1 th:if="${purchased_product!=null}" th:text="${purchased_product.getName()}"></h1>
												<!--<h2 th:text="${purchased_product.age}"></h2>-->
												<div class="price" th:if="${purchased_product!=null}" th:text="${purchased_product.getPrice()}"></div>
											</a>
										</div>
										<div class="submity">
											<a class="primary-btn"  type="button" th:href="@{/product/productList/1}" style="float: left; width: 200px">Kontynuuj zakupy</a>
											<a class="primary-btn"  type="button" th:href="@{/cart/}" style="float: right; width:200px">Przejdz do koszyka</a>
										</div>

										<hr>
										<h1 th:if="${not #lists.isEmpty(recommendedList)}">Sprawdź jeszcze</h1>

										<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" th:if="${not #lists.isEmpty(recommendedList)}">
											<div class="carousel-inner">
												<div th:each="product: ${recommendedList}" class="carousel-item">
													<a th:href="@{/product/viewProduct/{productId}(productId=${product.id_product})}">
														<img class="d-block w-70" th:src="${product.image}" alt="Second slide">
														<h1 th:text="${product.name}" align="center"></h1>
													</a>
												</div>
											</div>
											<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
												<span class="carousel-control-prev-icon" aria-hidden="true"></span>
												<span class="sr-only">Previous</span>
											</a>
											<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
												<span class="carousel-control-next-icon" aria-hidden="true"></span>
												<span class="sr-only">Next</span>
											</a>
										</div>
										</div>



									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		    <!-- END MAIN CONTENT-->

		</div>
	</div>

	<!-- END PAGE CONTAINER-->


<footer class="footer spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="footer__about">
					<ul>
						<li>Adres: al. Tadeusza Rejtana 16C, Rzeszów</li>
						<li>Phone: 123 456 789</li>
						<li>Email: qerbitz@gmail.com</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
				<div class="footer__widget">
					<ul>

						<li><a th:href="@{/login/showLoginPage}">Logowanie</a></li>
						<li><a th:href="@{/registration/showRegistrationForm}" >Rejestracja</a></li>
					</ul>

				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="footer__widget">
					<p>Zapraszamy również</p>
					<div class="footer__widget__social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="footer__copyright">
					<div class="footer__copyright__text"><p>
						Copyright &copy; <script>document.write(new Date().getFullYear());</script> Krzysztof Pleśniak </a></p></div>
					<div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="../static/css/test.js" th:src="@{/css/test.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:inline="javascript">
	/*<!~[CDATA[*/
	var myval = /*[[${id_product}]]*/ "Test";
	var modal = document.getElementById("myModal");

	if(myval!=null){
		modal.style.display = "block";
	}



	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal

	/*]]>*/
</script>
</body>

</html>
