<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Sklep</title>

	<!-- Facebook/insta icons -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Main CSS-->
	<link href="../../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

	<link rel="icon" href="assets/images/fav-icon.png">
</head>

<body>
	<div class="page-wrapper">

		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block clr">
			<div class="logo">
				<a th:href="@{/product/productList/1}">
					<img src="/images/logo.png" alt="Strona glowna" style="height: 70px">
				</a>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-new">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<div class="section-content section-content-p30">
					<div class="container-fluid">
						<div class="header-wrap">
							<form class="form-header" method="post" th:action="@{/product/products_search/1}" id="getform">
								<input class="au-input au-input-xl" type="text" name="value" id="value" th:object="${user}" pattern="[^*()/><\][\\\x22,;|]+"
									   placeholder="Szukaj produktów ..." form="getform"/>
								<button class="au-btn-submit" type="submit" form="getform">
									Szukaj
								</button>
							</form>
							<div class="cart-area d-n">
								<a th:href="@{/cart/}">
									<div class="total" th:text="${total}"> <span th:text="${quantity}"> </span> </div> <i class="fa fa-shopping-cart"
																														  aria-hidden="true"></i>
								</a>
							</div>
							<li class="dropdown">
								<a href="javascript:void(0)" class="dropbtn"><img src="/images/nouser.png" height="1px"></a>
								<div class="dropdown-content">
									<a sec:authorize="isAuthenticated()" th:href="@{/order/allOrders}">Twoje zamowienia</a>

									<a th:href="@{/login/showLoginPage}" sec:authorize="isAnonymous()" href="javascript: document.logoutForm.submit()" role="menuitem">Zaloguj się</a>
									<a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()" role="menuitem">Wyloguj sie</a>

									<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
										<input hidden type="submit" value="Sign Out"/>
									</form>
									</ul>
								</div>
						</div>
						<div class="account-wrap"></div>
					</div>
				</div>
			</header>
			<!-- END HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<div class="main-content page-m">
				<div class="section-content section-content-p30 e-spc">
					<form action="#" th:action="@{/order/createOrder}"
						  th:object="${user}" method="POST" modelAttribute="user">
						<input type="hidden" th:field="*{username}"/>
						<input type="hidden" th:field="*{password}"/>
						<input type="hidden" th:field="*{adress.id_adress}" />
						<input type="hidden" th:field="*{cart.id_cart}" />

						<div class="form-area">
							<h3>Podstawowe informacje</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="input-space">

										<input type="text" th:field="*{name}" placeholder="Imie" required pattern="[^*()/><\][\\\x22,;|]+">
									</div>
								</div>
								<div class="col-md-6">
									<div class="input-space">
										<input type="text" th:field="*{surname}" placeholder="Nazwisko" required pattern="[^*()/><\][\\\x22,;|]+">
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-6">
									<div class="input-space">
										<input type="text" th:field="*{e_mail}" placeholder="Adres e-mail" required pattern="[^*()/><\][\\\x22,;|]+">
									</div>
								</div>
								<div class="col-md-6">
									<div class="input-space">
										<input type="text" th:field="*{phone}" placeholder="Nr telefonu" required pattern="[^*()/><\][\\\x22,;|]+">
									</div>
								</div>
							</div>
						</div>

						<!--Form 2-->
						<div class="form-area">
							<h3>Adres dostawy</h3>
							<div class="row">
								<div class="col-md-12">
									<div class="input-space">
										<input type="text" th:field="*{adress.street}" placeholder="Ulica, nr domu" required pattern="[^*()/><\][\\\x22,;|]+">
									</div>
								</div>
								<div class="col-md-12">
									<div class="input-space">
										<input type="text" th:field="*{adress.place}" placeholder="Miejscowosc" required pattern="[^*()/><\][\\\x22,;|]+">
									</div>
								</div>

								<div class="col-md-12">
									<div class="input-space">

									</div>
								</div>
								<div class="col-md-12">
									<div class="input-space">
										<input type="text" th:field="*{adress.zip_code}" placeholder="Kod pocztowy" required pattern="[^*()/><\][\\\x22,;|]+">
									</div>
								</div>
							</div>
						</div>


						<!--<div class="form-area">
							<h3>Credit Card</h3>
							<div class="row">
								<div class="col-md-12">
									<div class="input-space">
										<select>
											<option>Visa</option>
										</select>
									</div>
								</div>
								<div class="col-md-12">
									<div class="input-space">
										<input type="text" placeholder="Name on card">
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-8">
									<div class="input-space">
										<input type="text" placeholder="Card number">
									</div>
								</div>
								<div class="col-md-4">
									<div class="input-space">
										<input type="text" placeholder="CVV2 number">
									</div>
								</div>
								<div class="clearfix"></div>

								<div class="col-md-2"> <label class="date">Expiration Date</label></div>
								<div class="col-md-5">
									<div class="input-space">
										<select>
											<option>Month</option>
											<option></option>
										</select>
									</div>
								</div>
								<div class="col-md-5">
									<div class="input-space">
										<select>
											<option>Year</option>
											<option></option>
										</select>
									</div>
								</div>
							</div>
						</div>-->

						<div class="form-area">
							<h3>Produkty</h3>
							<tr th:each="item: ${cart}">
								<td class="col-md-1" style="text-align: center" th:text="${item.getProduct().getName()}"></td>
								<td></td>
								<td class="col-md-1" style="text-align: center" th:text="${item.getProduct().getPrice()}+' zł'"></td>
								<br>
							</tr>
							<td th:text="'Kwota do zapłaty: '+${total}+' zł'"></td>
							<B></B>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-info" >Kontynuj</button>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- END PAGE CONTAINER-->

</body>

</html>
<!-- end document-->