<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>xddd</title>
</head>
<body>
    <h3>Cart info</h3>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
        <tr th:each="item: ${session.cart}">
            <td th:text="${item.product.id_product}"></td>
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.product.price}"></td>
        </tr>
    </table>
    <br>
    <a href="/product">Continue Shopping</a>
</body>